:root {
  --fontSize:medium;
}

header.top {
  display: flex;
  justify-content: left;
  margin: -90px;
  padding-top: 15px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body.border1 {
  height: auto;
  width: 100%;
  scroll-behavior: smooth;
  margin: 0;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.videoPlayer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  opacity: 70%;
}

p.homePageHeader {
  font-weight: 600;
  font-size: 150px;
  border-color: white;
}

@media (min-aspect-ratio: 16/9) {
  .videoPlayer {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .videoPlayer {
    width: auto;
    height: 100%;
  }
}
.colA {
  float: left;
  width: 50%; /* Each column takes 50% of the width */
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.homeImg {
  max-width: 90%;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.megaContainer {
  /* Fix the border in place */
  border: 100px solid transparent;
  -o-border-image: url(images/border.png) 10% stretch;
     border-image: url(images/border.png) 10% stretch;
  height: 100%;
  width: auto;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
}

.scrollableContainer {
  overflow-y: auto;
  height: 100%;
  padding-left: 15px;
  margin-top: 85px; /* Adjust the margin to match the border width */
  box-sizing: border-box;
  z-index: 99;
}

.navbar {
  background-color: transparent;
}
.navbar ul {
  display: block;
  list-style-type: none;
  height: 80px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  padding-left: 80px;
  margin: 0px;
  overflow: hidden;
}
.navbar img {
  position: absolute;
  right: 100%;
  top: 10%;
}
.navbar li {
  float: left;
  padding-right: 40px;
}
.navbar li a {
  color: grey;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.navbar li a .address {
  margin-left: auto;
}
.navbar li a.active {
  color: white;
}
.navbar li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: orange;
  display: block;
  transition: 0.2s linear;
}
.navbar li a:hover::after {
  width: 100%;
}

.social {
  background-color: black;
  float: inline-end;
  padding-left: 5px;
  padding-right: 5px;
}
.social img {
  width: 30px;
  height: 30px;
}

nav.socials img {
  height: 30px;
  width: 30px;
}

.body {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.body .map {
  width: 100%;
}
@media (min-width: 1000px) {
  .body .location {
    width: 50%;
    float: left;
    padding-bottom: 60px;
  }
  .body .contact {
    width: 50%;
    float: left;
  }
  .body .contact p {
    padding: 20px;
    padding-bottom: 5px;
    border: 20px;
  }
}

.majorevents {
  text-align: center;
}
.majorevents .calendar {
  width: 50%;
  float: right;
  padding-bottom: 60px;
}
.majorevents .questions {
  width: 50%;
  float: left;
  padding: 20px;
  padding-bottom: 5px;
  border: 20px;
}

footer {
  display: inline;
  width: 100%;
  height: 50px;
  background-color: transparent;
}
@media (max-width: 500px) {
  footer img.logo {
    position: absolute;
    left: 37%;
    bottom: -15%;
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 500px) {
  footer img.logo {
    position: absolute;
    left: 50%;
    bottom: -15%;
    height: 60px;
    width: 60px;
  }
}
footer .eat {
  padding-top: 10px;
  padding-left: 5px;
  float: left;
  color: white;
}
footer .eat :hover {
  color: red;
}
footer .soc {
  padding-top: 10px;
  float: right;
  color: white;
}
footer .soc :hover {
  color: red;
}

p {
  font-size: var(--fontSize);
  padding: 0;
}

.popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  -moz-user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  background-color: black;
  z-index: 1;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  width: 160px;
  bottom: -150%;
  left: 250%;
  margin-left: -80px;
  position: absolute;
}

.popup .popuptext::after {
  content: "";
  top: 100%;
  position: absolute;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  margin-left: -5px;
}

.popup .show {
  visibility: visible;
}

.haha {
  padding: 0px;
  border: 0px;
  margin: 0px;
}/*# sourceMappingURL=style.css.map */