$primaryButton: red;


header {
    background: lightblue;
    display: flex;
    justify-content: center;
    button {
        background: $primaryButton;
    }
    
}
.navbar {
    ul{
        display: block;
        list-style-type: none;
        background-color: black;
        padding: 0px;
        margin: 0px;   
        overflow: hidden;
    }
    a{
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
        :hover {
            background-color: black;
        }
    }
    li{
        float:left;
    }
}

footer {
    background-color: black;
    padding: 40px;
    h2{
        color: white;
    }
    p{
        color: white;
        text-decoration: none;
    }
}
