$shadow-color: rgba(0,0,0,0.2);

:root{
    --fontSize: medium;
}


header.top {
    // background: lightblue;
     display: flex;
    justify-content: left;
    margin: -90px;
    padding-top: 15px;
    //background-image: url(images/headerBG.png);
}

body, html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}
  
 * {
    font-family: sans-serif;
}
  
  .megaContainer {
     /* Fix the border in place */
     //padding: 15px;
    border: 100px solid transparent;
    border-image: url(images/border.png) 10% stretch;
    height: 100%;
    width: auto;
    box-sizing: border-box;
   // margin: 90px; 
    position: fixed;
  }
  
  .scrollableContainer {
    overflow-y: auto;
    height: 100%;
   // padding-top: 100px; // Adjust padding as needed
   padding-left: 15px;
   margin-top: 85px; /* Adjust the margin to match the border width */
    box-sizing: border-box;
  }
  


.navbar {
    background-color: transparent;
    
    ul{
        display: block;
        list-style-type: none;
        height: 80px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0px;
        padding-left: 80px;
        margin: 0px;   
        overflow: hidden;
       
    }
    img
            {
                position: absolute;
                right:100%;
                top: 10%;
            }
    li{
        float:left;
        padding-right: 40px;
        a{
            color: grey;
            text-decoration: none;
            padding: 10px;
            display: block;
            text-align: left;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;

            .address{
                margin-left: auto;
            }

            &.active {
                //background-color: lightgreen;
                color: white;
            }
            &::after {
                content: '';
                width: 0;
                height: 2px;
                background: orange;
                display: block;
                transition: 0.2s linear;
            }
            &:hover{
                &::after {
                    width: 100%;
                }
            }
            
        }
        
    }
    
}

    .social{
        background-color: black;
         float: inline-end;
         padding-left: 5px;
         padding-right: 5px;
         img{
             width: 30px;
             height: 30px;
         }
     }


nav.socials{
    img{
        height: 30px;
        width: 30px;
        //margin-top: 850px; find perma solution
    }
}

.body{
    width:fit-content;
    text-align: center;
    .map{
        width: 100%;
    }
    @media (min-width: 1000px) {
        .location {
            width:50%;
            float: left; 
            padding-bottom: 60px;   
        }
        .contact{ 
            width: 50%;
            float: left;
            p{
                padding: 20px;
                padding-bottom: 5px;
                border: 20px;
            }
        }   
    }
    
}

.majorevents
{
    text-align: center;
    .calendar 
    {
        
        width:50%;
        float: right; 
        padding-bottom: 60px;   
    }
    .questions
    {
        width: 50%;
        float: left;
        padding: 20px;
        padding-bottom: 5px;
        border: 20px;
    }
}
footer{
    display: inline;
    width: 100%;
    height: 50px;
    background-color: transparent;
        img.logo{
            position: absolute;
            left: 40%;
            bottom:-15%;
           height: 60px;
           width: 60px;
        }
        .eat{
            padding-top: 10px;
            padding-left: 5px;
            float: left;
            color:white;
                    :hover{
                        color:red;
                    }
        }
        
        .soc{
            padding-top: 10px;
            padding-left: 5px;
            float: right;
            color:white;
                    :hover{
                        color:red;
                    }
                }
    }
    p{
        font-size:var(--fontSize);
        padding: 0;
    }
    
.options{
    display: inline;
}