$primaryButton: red;


header {
    background: lightblue;
    display: flex;
    justify-content: center;
    button {
        background: $primaryButton;
    }
    
}
.navbar {
    background-color: black;
    ul{
        display: block;
        list-style-type: none;
       
        padding: 0px;
        margin: 0px;   
        overflow: hidden;
    }
    .nav{
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
        .nav:hover {
            background-color: red;
        }
    }
    li{
        float:left;
    }
    .social{
       background-color: black;
        float: inline-end;
        padding-left: 5px;
        padding-right: 5px;
        img{
            width: 30px;
            height: 30px;
        }
    }
}
.body{
    width:fit-content;
        text-align: center;

.location {
    background-color: cyan;
    width:50%;
    float: left;    
}
.contact{
    background-color: purple;
    width: 50%;
    float: left;
    p{
        padding: 20px;
        padding-bottom: 5px;
        border: 20px;
    }
}   
}
